*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Home Banner */
.homebanner{
    background-image: url(image/bg.jpg); 
    height: 100vh;
    background-size: cover;  
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home{
    padding: 20px;
    background-color: #00000082;
    border-radius: 10px;
    width: 500px;
    color: #fff;
    text-align: center;
}
/* Header */
header{
    background-color: rgb(6, 112, 6);
    display: flex;
    flex-wrap: wrap;
    color: white;
    position: fixed;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.pagelink ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.pagelink ul li{
    padding: 0 10px;
}
.pagelink ul li a{
    text-decoration: none;
    color: #fff;
}
.pagelink ul li a:hover{
    border-bottom: 2px solid white;
}
.logo{
    font-size: 30px;
    padding: 20px;
    flex: 1 0 200px;
}
.pagelink{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.pagelink ul li ul{
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 150px;
    background-color: rgb(6, 112, 6);
    display: none;
}
.pagelink ul li ul li{
    padding: 10px;
}
.pagelink ul li:hover > ul{
    display: block;
}
/* Specail Offers */
.offers h1{
    text-align: center;
    margin-top: 50px;
}
.specialoffercard{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    border: 1px solid red;
    width: 350px;
}
.card img{
    width: 100%;
    height: 220px;
    padding: 10px;
}
.card .cardtext{
    padding: 0 20px 20px 20px;
}
.cardtext .desc{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Image slider */
.imgslide{
    margin-top: 40px;
}
.slidecontainer{
    width: 50%;
    position: absolute;
    z-index: -1;
    /* transform: translate(-100%,0%); */
    /* top: 50%; */
    margin-left: 30px;
    overflow: hidden;
}
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
img{
    width: 100%;
}